html, body {
  height: 100% !important;
  min-height: 100% !important;
}

body {
  padding-inline: 40px;
  min-height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1D2840;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #4690e9;
}

h2 {
  color: #1D2840;
  font-weight: 700;
}



@media only screen and (min-width: 860px) {
  /* For tablets: */
  body {
    padding-inline: 120px;
  }
  .bdf_image_desktop {
    display: none;
  }
  .bdf_image_mobile {
    display: block !important;
  }
  .project_image_desktop{
    width: 500px !important;
    float: right;
    margin-left: 0px;
  }
}

.menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.menu {
  flex: 1;
}

.header {
  display: flex;
  background-color: #1D2840;
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
  flex-direction: row;
  align-content: space-between;
}

.langs {
  margin: auto;
  margin-right: 1em;
  color: white;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: #2c3a57;
}

/* Add a color to the active/current link */
#currentPage {
  background-color: #4690E9;
  color: white;
}

/* =================== */

.home_section {
  /* display: flex; */
  padding: 0px 20px 20px 20px;
  min-height: 130px;
  border: 2px solid #4690e9;
  border-radius: 5px;
}

.home_section > p {
  text-align: justify;
  text-justify: inter-word;
}

.home_image {
  object-fit: contain;
  border-radius: 5px;
  border: 2px solid #4690e9;
  float: right;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bdf_image_mobile {
  display: none;
  object-fit: contain;
  float: right;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.bdf_image_desktop {
  object-fit: contain;
  width: 100%;
}


/* ================ */


.project_image_desktop {
  object-fit: contain;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 0px;
}

.taquin_gif {
  object-fit: contain;
  float: right;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.taquin_section {
  min-height: 400px;
}


code {
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px !important;
  display: block;
  font-family: Consolas,"courier new";
  font-weight: 500;
  color: #fff;
  padding: 2px;
  font-size: 105%;
  background-image: linear-gradient(to right, #8ab1e1 , #9bbce4);
}

@media only screen and (min-width: 1388px) {
  code {
    background-image: linear-gradient(to right, #8ab1e1 , #eaf0f7) !important;
  }
}


footer {
  padding: 20px;
  height: 120px;
  background-color: #1D2840;
  margin-top: 20px;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

/* ================ */

input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4690E9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #5a9cec;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}