body {
  padding-inline: 40px;
  color: #1D2840;
}

a {
  text-decoration: none;
  color: #4690e9;
}

h2 {
  color: #1D2840;
}

@media only screen and (min-width: 860px) {
  /* For tablets: */
  body {
    padding-inline: 120px;
  }
  .bdf_image_desktop {
    display: none;
  }
  .bdf_image_mobile {
    display: block !important;
  }
  .project_image_desktop{
    width: 500px !important;
    float: right;
    margin-left: 0px;
  }
  /* .project_image_desktop {
    display: none;
  }
  .project_image_mpbile {
    display: block !important;
  } */
}

* {
  font-family: 'Montserrat';
}

.menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.menu {
  background-color: #1D2840;
  border-radius: 5px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: #2c3a57;
}

/* Add a color to the active/current link */
#currentPage {
  background-color: #4690E9;
  color: white;
}

/* =================== */

.home_section {
  /* display: flex; */
  padding: 0px 20px 20px 20px;
  min-height: 130px;
  border: 2px solid #4690e9;
}

.home_section > p {
  text-align: justify;
  text-justify: inter-word;
}

.home_image {
  object-fit: contain;
  border: 2px solid #4690e9;
  float: right;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bdf_image_mobile {
  display: none;
  object-fit: contain;
  float: right;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.bdf_image_desktop {
  object-fit: contain;
  width: 100%;
}


/* ================ */


.project_image_desktop {
  object-fit: contain;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 0px;
}

.taquin_gif {
  object-fit: contain;
  float: right;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.taquin_section {
  min-height: 400px;
}


code {
  margin-top: 10px;
  padding: 10px !important;
  display: block;
  font-family: Consolas,"courier new";
  font-weight: 500;
  color: #fff;
  background-color: #8ab1e1;
  padding: 2px;
  font-size: 105%;
}